<h1>Recipes</h1>
<style>

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}



</style>
<div id="tag_cloud">
  <% tag_cloud Recipe.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <h2><%= link_to recipe.name, recipe %></h2>
        <% if recipe.photo.exists? then %>
	  <%= image_tag recipe.photo.url(:thumb) %>
        <% end %>
    <%= simple_format recipe.preparation_method %>
    <p>
      Tags: <%= raw recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>
    <p><%= link_to "Edit", edit_recipe_path(recipe) %> | 
       <%= link_to 'Remove', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></p><hr>
  <% end %>
</div>
<%= paginate @recipes %><br><br>
<p><%= button_to "New Recipe", new_recipe_path, :method => :get  %></p>

