
<style>
 body{margin:10px;}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    background-color: #123455;
    margin: 1em 0; padding: 0; }
</style>

<%- model_class = Recipe -%>

<div class="page-header">
  <h1><%= @recipe.name %></h1>
  <%= link_to 'Back to List', recipes_path %> | 
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_recipe_path(@recipe), :class => 'btn' %> | 
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              recipe_path(@recipe),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %><br><br>
</b>


</div>

<% if @recipe.photo.exists? then %>
   <%= image_tag @recipe.photo.url(:small) %>
<% end %>

<div id ="similar-recipes" style ="padding:10px;width:300px;float:right;border:1px solid black;border-radius:5px;">
<h2 style="padding-left:30px;">Similar Recepies </h2><hr>
  <% @similar_recipes.each do |s| %>
   <p><%= image_tag(s.photo.url(:thumb)) %></p>
      <h2><%= link_to s.name, s %> __ <%= s.author_name %></h2><hr>
  <% end %><br>
  
</div>

<p>
  <b>Category:</b>
  <%= @recipe.category.name %>
</p>

<p>
  <b>Difficulty level:</b>
  <%= @recipe.difficulty_level %>
</p>

<p>
  <b>Cooking time:</b>
   <% @t = @recipe.cooking_time %>
   <%= @t.strftime("%I minutes %M sec") %>
</p>


<p>
  <b>Author name:</b>
  <%= @recipe.author_name %>
</p>

    <h4><strong><%= model_class.human_attribute_name(:ingredients) %>:</strong></h4>
      <% @recipe.ingredient_recipes.each do |i| %>
        <li><%= link_to i.ingredient_name, i %></li>
          <table>
            <% Product.find_all_by_ingredient_id(i.ingredient).each do |p| %>
             <tr>
              <td><%= p.brand.company_name %></td>
              <td><%= p.price %></td>
              <td><b><%= link_to "BUY", product_path(p, :recipe_id => @recipe.id), :class=>"button_example" %></b></td>
           <!--<td><b><%= link_to "BUY", line_items_path(:product_id => p.id, :recipe_id => @recipe.id) , :method => :post %></b></td>-->
            </tr><% end %></table><hr>
      <% end %>


    <div id="pane3" class="tab-pane">
      <strong><%= model_class.human_attribute_name(:method) %>:</strong>
              <p style="width:800px;"><%= @recipe.preparation_method %></p><br>
    </div>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

