<style>

#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container
{
	float: left;
	width: 100%;
	background: #FFF repeat-y 68% 0;
}

#content
{
	clear: left;
	float: left;
	width: 60%;
	padding: 20px 0;
	margin: 0 0 0 4%;
	display: inline;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 26%;
	padding: 20px 0;
	margin: 0 3% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }





 hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    background-color: #123455;
    margin: 1em 0; padding: 0; }
  m{padding:4px;text-align:center;width:300px;background:green;color:white;border:1px solid white; border-radius:4px;}
  h5{text-align:center;width:100px;background:green;color:white;border:1px solid white; border-radius:4px;}

</style>

<div id="container">
	<div id="content-container">
		<div id="content">
<%- model_class = Recipe -%>

<div class="page-header">

  <%= link_to 'Back to List', recipes_path %> | 
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_recipe_path(@recipe), :class => 'btn' %> | 
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              recipe_path(@recipe),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %><br><br>
</b>


</div>

<% if @recipe.photo.exists? then %>
   <%= image_tag @recipe.photo.url(:small) %><br><br>
  <m><%= @recipe.name %> </m> | 
   <% if @recipe.tested %>
    <b>Tested<%= image_tag('right-mark-th.png', :size => "20x20") %></b> | <b><%= @recipe.difficulty_level %></b> | 
   <% else %>
    <b style ="color:red"> not tested</b> | <b><%= @recipe.difficulty_level %></b> 
   <% end %>
<% end %>
<br>
<br>
<p>
  <b>Category:</b>
  <%= @recipe.category.name %>
</p>


<p>
  <b><%= image_tag('time.png', :size=>"25x20")%></b>
   <% @t = @recipe.cooking_time %>
   <%= @t.strftime("%I minutes %M sec") %>
</p>


<p>
  <b>Author name:</b>
  <%= @recipe.author_name %>
</p>
<div id="ingredients" style="border-radius:4px;padding:20px;background:silver;width:300px;">
    <h4><strong><%= model_class.human_attribute_name(:ingredients) %>:</strong></h4>
      <% @recipe.ingredient_recipes.each do |i| %>
        <strong><%= link_to i.ingredient_name, i %></strong>
          <table>
            <% Product.find_all_by_ingredient_id(i.ingredient).each do |p| %>
             <tr>
              <td><%= link_to p.brand.company_name, p.brand %></td>
              <td><%= p.price %></td>
              <td><b><%= link_to "BUY", product_path(p, :recipe_id => @recipe.id), :class=>"button_example" %>
                  </b></td>
           <!--<td><b><%= link_to "BUY", line_items_path(:product_id => p.id, :recipe_id => @recipe.id) , :method => :post %></b></td>-->
            </tr><% end %></table><hr>
      <% end %>
</div><br>

    <div id="pane3" class="tab-pane">
      <h3 style ="color:green"><%= model_class.human_attribute_name(:method) %>:</h3>
              <p style="width:auto;"><%= @recipe.preparation_method %></p><br>
    </div>

<span class='st_facebook_vcount' displayText='Facebook'></span>
<span class='st_sharethis_vcount' displayText='ShareThis'></span>
<span class='st_twitter_vcount' displayText='Tweet'></span>
<span class='st_pinterest_vcount' displayText='Pinterest'></span>
<span class='st_email_vcount' displayText='Email'></span>


<h3>Latest comments and suggestions</h3><br>
<style>
 .comments {width:500px;height:auto;}
 comment{font-size:11px;color:green}
</style>

<% @comments.each do |c| %>
<div class="comments">
  <%= c.user.email %><br>
  <comment>"<%= c.comment_data %> "</comment><br>
   <b style ="font-size:9px;color:red"><%= time_tag c.created_at %></b><hr>
</div>
<% end %>

<%= render :partial => 'comments/form', :locals => {:recipe_id => @recipe.id} %>

</div>


<div id="aside">
<div class ="similar-recipes">
<h5 style="padding-left:0px;">Similar Recepies </h5><hr>
  <% @similar_recipes.each do |s| %>
   <p><%= link_to image_tag(s.photo.url(:thumb)), s %></p>
      <h5><%= s.name %></h5>-- <small><%= s.author_name %></small><hr>
  <% end %><br>
  
</div>
</div>

