<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :decsription %><br />
    <%= f.text_area :decsription %>
  </div>
  <div class="field">
    <%= f.label :calorie_value %><br />
    <%= f.text_field :calorie_value %>
  </div>

    <ul>
      <% Brand.all.each do |brand| %>
          <li>
            <%= check_box_tag "brand[brand_ids][]", brand.id, @ingredient.brands.include?(brand) %>
            <%= label :brand_ids, brand.company_name %>
          </li>
      <% end %>
    </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
