
<style>
@font-face { font-family: "WebRupee"; font-style: normal; font-weight: normal; src: local("WebRupee"), url("http://cdn.webrupee.com/WebRupee.V2.0.ttf") format("truetype"), url("http://cdn.webrupee.com/WebRupee.V2.0.woff") format("woff"), url("http://cdn.webrupee.com/WebRupee.V2.0.svg") format("svg"); } .WebRupee { font-family: 'WebRupee'; }
</style>

<p>
  <b>Ip adress:</b>
  <%= @order.ip_adress %>
</p>

<p>
  <b>First name:</b>
  <%= @order.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @order.last_name %>
</p>

<p>
  <b>Card name:</b>
  <%= @order.card_name %>
</p>

<p>
  <b>Card type:</b>
  <%= @order.card_type %>
</p>

<p>
  <b>Card Number:</b>
  <%= @order.card_number %>
</p>

<p>
  <b>Card expires on:</b>
  <%= @order.card_expires_on %>
</p>

<p>
  <b>Products:</b>

<table id="line_items">
  <tr>
    <td><b>Product</td>
    <td><b>Brand</td>
    <td><b>Qty</td>
    <td class="price"><b>Unit Price</b></td>
    <td class="price"><b>Full Price</b></td>
    <td class="price"><b>Commision</b></td>
  </tr>
  <% for line_item in @order.cart.line_items %>
    <tr class="<%= cycle :odd, :even %>">
     <td><%=h line_item.product.ingredient.name %></td>
     <td><%=h line_item.product.brand.name %></td>
     <td class="qty"><%= line_item.quantity %></td>
     <td class="price"><%= number_to_currency(line_item.product.price) %></td>
     <td class="price"><%= number_to_currency(line_item.total_price) %></td>
     <td class="price"><%= number_with_precision(line_item.rate, :precision => 2) %></td>

    </tr>
  <% end %>
</table>

<table>
  <tr>
    <td>
      <br><b> Total: <%= number_to_currency @order.cart.total_price %> </b>
    </td><td>
      <br><b> Total Commision: <%= number_to_currency @order.total_commision %> </b>
    </td>
  </tr>
</table>

</p>

<%= link_to 'BUY MORE', products_path %>

