<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brand.name %>
</p>

<p>
  <b>Company name:</b>
  <%= @brand.company_name %>
</p>
<table>
 <tr>
  <th> ingredient name </th>
  <th> price </th>
 </tr>
<% @brand.products.each do |p| %>
 <tr>
  <td><%= link_to p.ingredient.name, p.ingredient  %></td>
  <td><%= p.price %></td>
 </tr>
<% end %>
</table>
<br>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
