<%= form_for @product, :html => { :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :product_image %><br />
    <%= f.file_field :photo %>
   </div>

  <div class="field">
    <%= f.label :ingredient_name %><br />
   <!-- <%= f.autocomplete_field :ingredient_name, autocomplete_ingredient_name_products_path  %>-->
   <%= f.collection_select :ingredient_id, Ingredient.find(:all), :id, :name %>
  </div>
    <%= f.hidden_field:user_id, :value=> current_user.id %>

  <div class="field">
    <%= f.label :brand_id %><br />
    <!--<%= f.autocomplete_field :brand_id, autocomplete_brand_name_products_path %>-->
    <%= f.collection_select :brand_id, Brand.all , :id , :name %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div><br>

<div class="field">
    <%= f.label :commision %><br />
    <%= f.text_field :commision %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
