<h1>Listing products</h1>

<table>
  <tr>
    <th>select action </th>
    <th>Ingredient</th>
    <th>Brand</th>
    <th>Price</th>
  </tr> 
  
<%= form_tag selected_line_items_path, :method=> :post do  %>
  <% @products.each do |p| %>
    <tr>
     <td><%= check_box_tag('[product_ids][]', p.id) %></td>
     <td><%= p.ingredient.name %></td>
     <td><%= p.brand.name %></td>
     <td><%= p.price %></td>
    </tr>
  <% end %>
 </table>
 <%= submit_tag "buy Selected items"%>
<% end %>
<br />

<%= link_to 'New Product', new_product_path %>


